.field{
    display:flex;
    padding:1.5rem 2rem;
    align-items: center;
}

.field__title{
    margin-right: 25vw;
    width:18%;
    text-transform: uppercase;
    font-size: 2rem;
}

.field__text{
    font-size: 1.8rem;
}

.field__sub-heading{
    margin-top: 3rem;
    font-size: 2.2rem;
    color:rgb(41, 74, 182);
    font-weight: 700;
}

.center__employees{
    list-style: none;
}

.center__emp{
    font-size: 1.8rem;
    padding:1rem;
}

.cards{
    margin-top: 3rem;
}

.vac_card{
    height:100%;
    width:100%;
    background-color: #eee;
    box-shadow: 0 1rem 1.9rem #333;
    padding:1rem;
    margin:4rem auto;
}

h5{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.cards p{
    margin-bottom: 1rem;
}

.vac_main p{
    margin-bottom: 1rem;
}

.vac_img{
    width:80%;
    margin:0 auto;
    margin-bottom: 4rem;
    box-shadow: 0 0.5rem 1rem rgb(128, 128, 128);
    img{
        width: 100%;
    }
}

.success-text{
    font-size:1.6rem;
    color:#278834;
    font-weight:700;
    text-align: center;
    margin:1rem auto;
}
  
.error-text{
    font-size:1.6rem;
    color:red;
    font-weight:700;
    text-align: center;
    margin:1rem auto;
}




